* {
  background-color: #fffaf0;
}

#welcome {
  height: 100vh;
  width: 100%;
}

#about {
  height: 80vh;
}

.letters {
  display: inline-block;
  color: #23154A;
  font-size: 5.5em;
  font-family: 'Playfair Display SC', serif;
}

#name {
  width: 80vw;
  height: 100vh;
  position: relative;
  left: 10vw;
}

#first {
  display: inline-block;
  width: 50%;
  text-align: right;
}

#last {
  display: inline-block;
  width: 49%;
  text-align: left;
}

.capital {
  display: inline-block;
  text-align: right;
  color: #23154A;
  font-size: 7em;
  font-family: 'Playfair Display SC', serif;
  z-index: 1;
}

#D {
}

.bar {
  position: relative;
  height: 1vh;
}

#bar-one {
  background-color: #a7414a;
  top: 38vh;
  width: 50vw;
  left: 25vw;
}

#bar-two {
  background-color: #6a8a82;
}

#bar-three {
  background-color: #a37c27;
}

#bar-four {
  background-color: #563838;
}

#portfolio {
  height: 130vh;
}

#projects{
  position: relative;
  left: 10vw;
  top: 20vh;
  height: 110vh;
  width: 80vw;
}

#title {
  position: absolute;
  text-align: center;
  width: 50vw;
  line-height: 20vh;
  font-size: 3em;
  left: 25vw;
  margin: 0;
}

.project {
  display: inline-block;
  margin: 1vw;
  height: 50vh;
  width: 37vw;
  background-color: #6a8a82;
}

#proj-one,
#proj-three {
  margin-left: 1.5vw;
}

footer {
  height: 40vh;
  width: 100vw;
}

#contact {
  position: absolute;
}

.social {
  height: 10vw;
  width: 10vw;
  margin: 0 5vw;
  position: relative;
  left: 20vw;
  display: inline-block;
  background-size: cover;
}

#github {
  background-image: url('../assets/github-128.png');
}

#linkedin {
  background-image: url('../assets/linkedin.png');
}

#twitter {
  background-image: url('../assets/twitter.png');
}
